.button {
    background-color: var(--color-black);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    font-family: "Poppins", sans-serif;
    padding: 10px 16px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
  }
  